.onehd > .btn{
    width: 100%;
}

.onhd > input{
    width: 100%;
}

.sign-in{
    border-width: 2;
    border-style: solid;
    border-color: #ff000;
}

i.icon-blue{
    color: blue
}

i.icon-red{
    color: #a00
}

i.icon-yellow{
    color: #fa5
}