<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--meta name="viewport" content="width=device-width, initial-scale=1.0"--><!--Original-->
    <title>Dekarat App</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/Content/materialize/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>


</head>
<body>

    <div class="container">

        <div class="row">
            <nav class="col s12 m9  teal darken-4 ">
                <div class="nav-wrapper">
                    <a class="brand-logo center teal darken-4" data-bind="text: Title" id="about-dekarat-1"></a>
                    <ul id="nav-mobile" class="left">
                        <li><a href="#"><i class="material-icons left">directions_run</i></a></li>
                        <li class="hide-on-small-only"><a href="#"><i class="material-icons right">directions_bike</i></a></li>
                    </ul>
                    <ul id="nav-mobile" class="right">
                        <li class="hide-on-small-only"><a href="#"><i class="material-icons left">local_dining</i></a></li>
                        <li><a href="#" id="sign-out"><i class="material-icons right">power_settings_new</i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        
        
        @RenderBody()

        <div class="row">
            <nav class="col s12 m9  teal darken-4 ">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo center teal darken-4"></a>
                    <ul id="nav-mobile" class="left">
                        <li><a href="#" id="about-dekarat-2"><i class="material-icons left">info_outline</i></a></li>
                        <li class="hide-on-small-only"><a href="#"><i class="material-icons right">directions_bike</i></a></li>
                    </ul>
                    <ul id="nav-mobile" class="right">
                        <li class="hide-on-small-only"><a href="#"><i class="material-icons left">local_dining</i></a></li>
                        <li><a href="#" id="user-settings"><i class="material-icons right">settings</i></a></li>
                    </ul>
                </div>
            </nav>
        </div>

    </div>

    <!--script src="~/Scripts/jquery-1.10.2.min.js"></script-->
    <!--script src="~/Scripts/bootstrap.min.js"></script-->
  
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase-database.js"></script>

    <script>
        //**********************set up firebase

        // Initialize Firebase

        var database;


        var config = {
            apiKey: "AIzaSyBuQxBetnwE7nPtvUUCi3TeoXlHz7IS9rw",
            authDomain: "dekarat-5b449.firebaseapp.com",
            databaseURL: "https://dekarat-5b449.firebaseio.com",
            projectId: "dekarat-5b449",
            storageBucket: "dekarat-5b449.appspot.com",
            messagingSenderId: "126688609895"
        }

        firebase.initializeApp(config)
        database = firebase.database()
    </script>
    <script type="text/javascript" src="~/Scripts/knockout-3.4.2.js"></script>
    <script type="text/javascript" src="~/Scripts/materialize/materialize.min.js"></script>
    <script type="text/javascript" src="~/Scripts/app.js"></script>
</body>
</html>