<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--meta name="viewport" content="width=device-width, initial-scale=1.0"--><!--Original-->
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/Content/materialize/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {}
        var database;

        $.getJSON("/scripts/firebase_config.js", function (data) {
            config = data
            console.log(config)
            firebase.initializeApp(config);
            setup()
        })

        function setup() {
            database = firebase.database();

            /*
            userRef = database.ref("myusers")
            auth = firebase.auth()
            auth.onAuthStateChanged(function (firebaseUser) {
                //TODO get firebaseuser
            })
            */
        }

        function getTextValue(inputId) {
            var element = document.getElementById(inputId)
            return element.value
        }

    </script>
</head>
<body>

    <div class="container">

        <div class="row">
            <nav class="col s12 m9  teal darken-4 ">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo center teal darken-4" data-bind="text: Title"></a>
                    <ul id="nav-mobile" class="left">
                        <li><a href="#"><i class="material-icons left">directions_run</i></a></li>
                        <li class="hide-on-small-only"><a href="#"><i class="material-icons right">directions_bike</i></a></li>
                    </ul>
                    <ul id="nav-mobile" class="right">
                        <li class="hide-on-small-only"><a href="#"><i class="material-icons left">local_dining</i></a></li>
                        <li><a href="#" id="sign-out"><i class="material-icons right">power_settings_new</i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        
        
        @RenderBody()

    </div>

    <!--script src="~/Scripts/jquery-1.10.2.min.js"></script-->
    <!--script src="~/Scripts/bootstrap.min.js"></script-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-3.4.2.js"></script>
    <script type="text/javascript" src="~/Scripts/materialize/materialize.min.js"></script>
    <script type="text/javascript" src="~/Scripts/app.js"></script>
</body>
</html>