<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--meta name="viewport" content="width=device-width, initial-scale=1.0"--><!--Original-->
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/Content/materialize/css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="~/Content/Site.css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>

    <div class="container">

        <div class="row">
            <nav class="col s12 m9  teal darken-4 ">
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo center teal darken-4" data-bind="text: Title"></a>
                    <ul id="nav-mobile" class="left">
                        <li><a href="#"><i class="material-icons left">directions_run</i></a></li>
                        <li class="hide-on-small-only"><a href="#"><i class="material-icons right">directions_bike</i></a></li>
                    </ul>
                    <ul id="nav-mobile" class="right">
                        <li class="hide-on-small-only"><a href="#"><i class="material-icons left">local_dining</i></a></li>
                        <li><a href="#" id="sign-out"><i class="material-icons right">power_settings_new</i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        
        
        @RenderBody()

    </div>

    <!--script src="~/Scripts/jquery-1.10.2.min.js"></script-->
    <!--script src="~/Scripts/bootstrap.min.js"></script-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout-3.4.2.js"></script>
    <script type="text/javascript" src="~/Scripts/materialize/materialize.min.js"></script>
    <script>

        var model = {
            CurrentView: ko.observable("main"),
            SignedIn: ko.observable(false),
            Title: ko.observable("dekarat"),
            Message: ko.observable(""),
            changedView: function (x) {
                handleChangeView(x)
            }
        }

        function handleChangeView(x) {
            model.CurrentView(x)
        }

        function handleSignIn() {
          
            model.SignedIn(true)
           

            //I cannot bind on document ready because these were not rendered intitally
            //so I had to do the binding here instead.
            $('#main').click(function () {
                handleChangeView("main")
                model.Title("dekarat")
                model.Message("Welcome to dekarat, a place where you can motivate yourself "
                            + "and your friends to practice healthy habits in a fun way.")
                $('#sign-in').click(function () {
                    //TODO: change later to a better approach to signing in
                    handleSignIn()
                })

                $('#create-account').click(function () {
                    handleChangeView("createaccount")
                })
            })

            $('#friends-feed').click(function () {
                handleChangeView("friendsfeed")
                model.Message("")
                model.Title("friends feed")
            })

            $('#status').click(function () {
                handleChangeView("status")
                model.Message("")
                model.Message("status")
            })

            $('#news').click(function () {
                handleChangeView("news")
                model.Message("")
                model.Title("news")
            })

            $('#log-item').click(function () {
                handleChangeView("logitem")
                model.Message("")
                model.Title("log entry")
                $('select').material_select();
            })



            model.Message("")
            model.Title("log entry")
            handleChangeView("logitem")
            $('select').material_select();
            

         }

        $(document).ready(function () {            

            $('#sign-in').click(function () {
                //TODO: change later to a better approach to signing in
                handleSignIn()
            })

            $('#create-account').click(function () {
                handleChangeView("createaccount")
            })

            model.CurrentView("main")
            ko.applyBindings(model)
        });
    </script>
</body>
</html>