
<!--LESSON - need to add app.js?v=1 to ref for js file otherwise chrom gets stuck on cached version of app.js-->
<div id="add-friend-div">

    <div class="row">
        <div class="input-field col s10 onehd">
            <input placeholder="friend's email" id="e-mail-search" type="email" class="validate" data-bind="value: SearchEmail">
        </div>
        <div class="col s2 onehd">
            <button href="#" class="waves-effect waves-light btn-flat teal white fifty teal-text text-darken-4" data-bind="click: search">
                <i class="material-icons left">search</i>
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <ul class="collection" data-bind="foreach: SearchResults" style="border: none;">
                <li class="collection-item avatar grey lighten-4" style="margin: 5px; border-radius: 10px;">
                    <i class="material-icons circle">person</i>
                    <span class="bold" data-bind="text: userTag"></span><br />
                    <p>
                        <span class="teal-text lighten-3">Joined:</span> <span class="grey-text lighten-2" data-bind="text: joined_date"></span><br>
                        <span class="teal-text lighten-3">Email:</span> <span class="grey-text lighten-2" data-bind="text: email"></span><br>
                    </p>
                        <button class="secondary-content btn-flat teal darken-2 white-text" data-bind="click: $parent.requestFriendship"><i class="material-icons white-text">add</i></button>
                </li>
            </ul>
        </div>
    </div>
</div>



<div class="awaiting-approval row">
    <div class="col s12" style="border-style: none;">
        <ul class="collection" data-bind="foreach: FriendRequests" style="border-style: none;">
            <li class="collection-item" style="border-style: none;">
                <span data-bind="text: userTag"></span> has sent you a friend request...
            </li>
            <li class="collection-item" style="border-style: none;">
                <button data-bind="click: $parent.acceptFriendRequest" class="btn-flat green lighten-1 white-text">Accept<i class="material-icons icon-white right">check</i></button>
                <button data-bind="click: $parent.rejectFriendRequest" class="btn-flat deep-orange darken-3 white-text">Reject<i class="material-icons icon-white right">close</i></button>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <ul class="collection" style="border: none;" data-bind="foreach: FriendsFeed">
            <li class="collection-item avatar blue-grey lighten-5" style="margin: 5px; border-radius: 10px;">
                <img data-bind="attr: {src: profilePicURL}" alt="profile_picture" class="circle" />
                <!-- img src="/Content/images/default_profile_pic.png" alt="profile_picture" class="circle" /-->
                <!--i class="material-icons circle">person</i-->
                <span class="bold" data-bind="text: userTag"></span><br />
                <p>
                    <span class="blue-grey-text lighten-3">Date:</span> <span class="grey-text lighten-2" data-bind="text: dateLogged"></span><br>
                    <span class="blue-grey-text lighten-3">Activity:</span> <span class="grey-text lighten-2" data-bind="text: activity"></span><br>
                    <span class="blue-grey-text lighten-3">Remarks:</span> <span class="grey-text lighten-2" data-bind="text: remarks"></span><br>
                    <span class="blue-grey-text lighten-2">Points:</span> <span class="grey-text lighten-2" data-bind="text: points"></span><br>
                    <span class="blue-grey-text lighten-2">Balance:</span> <span class="grey-text lighten-2" data-bind="text: balance"></span><br>

                </p>
                <!--Put if to put the right icon depending on if it's positivie or negative-->
                <!-- ko if: points < 0 -->
                <a href="#!" class="secondary-content"><i class="material-icons icon-black">thumb_down</i></a>
                <!-- /ko -->
                <!-- ko if: points > 0-->
                <a href="#!" class="secondary-content"><i class="material-icons icon-black">fitness_center</i></a>
                <!-- /ko -->
            </li>
        </ul>
    </div>
</div>

