
<!--LESSON - need to add app.js?v=1 to ref for js file otherwise chrom gets stuck on cached version of app.js-->
<div id="add-friend-div" style="display: none;">
    <div class="row">
        <div class="col s12 m9">
            <div>
                <div class="row">
                    <div class="input-field col s12 onehd">
                        <input placeholder="friend's email" id="e-mail-search" type="email" class="validate" data-bind="value: SearchEmail">
                    </div>
                </div>

                <div class="row">
                    <div class="col s12 onehd">
                        <button href="#" class="waves-effect waves-light btn teal darken-3" data-bind="click: search">
                            <i class="material-icons left">search</i>
                            Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m9">
            <ul class="collection" data-bind="foreach: SearchResults" style="border: none;">
                <li class="collection-item avatar grey lighten-4" style="margin: 5px; border-radius: 10px;">
                    <i class="material-icons circle">person</i>
                    <span class="bold" data-bind="text: userTag"></span><br />
                    <p>
                        <span class="teal-text lighten-3">Joined:</span> <span class="grey-text lighten-2" data-bind="text: joined_date"></span><br>
                        <span class="teal-text lighten-3">Email:</span> <span class="grey-text lighten-2" data-bind="text: email"></span><br>
                    </p>
                    <button class="secondary-content" data-bind="click: $parent.requestFriendship"><i class="material-icons icon-black">add</i></button>

                </li>
            </ul>
        </div>
    </div>
</div>


<div class="row">
    <div class="col s12 m9 onehd">
        <button class="waves-effect waves-light btn teal darken-3" id="add-friend" data-bind="click: addFriend">
            <i class="material-icons left">add</i>
            Add Friend
        </button>

    </div>
</div>
<div class="row">
    <div class="col s12 m9 onehd">

        <ul class="collection">
            <li class="collection-item avatar">
                <i class="material-icons circle icon-blue">person</i>
                <span class="title">John Doe</span>
                <p>
                    Balance: 1000 <br>
                    Earned this week: 100
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons icon-yellow">grade</i></a>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle icon-blue">person</i>
                <span class="title">Jane Doe</span>
                <p>
                    Balance: 1320 <br>
                    Earned this week: 80
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons icon-yellow">grade</i></a>
            </li>
            <li class="collection-item avatar ">
                <i class="material-icons circle icon-blue">person</i>
                <span class="title">Mike Doe</span>
                <p>
                    Balance: 1100 <br>
                    Earned this week: 50
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons icon-yellow">grade</i></a>
            </li>
        </ul>
    </div>
</div>

