

<div class="row">

    <form class="col s12 m9">
        <div class="row">
            <div class="onehd">
                <div class="input-field col s12">
                    <select id="entry-options">
                        <optgroup label="Ls">
                            <option value="1">Over-ate</option>
                            <option value="2">Junky Food</option>
                            <option value="3">Fast Food</option>
                            <option value="4">Sugary Drink</option>
                        </optgroup>
                        <optgroup label="Ws">
                            <option value="20">20 Minute Workout</option>
                            <option value="21">Weight Workout</option>
                            <option value="22">Bike ride</option>
                            <option value="23">Extranous Labor</option>
                            <option value="23">Healthy Snack</option>
                            <option value="23">Healthy Meal</option>
                        </optgroup>
                    </select>
                    <label>Activities</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="onehd">
                <div class="input-field col s12">
                    <textarea id="entry-remarks" class="materialize-textarea"></textarea>
                    <label for="textarea1">Remarks</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="onehd col s12">
                <a href="#" class="waves-effect waves-light btn teal darken-3" id="entry-submit">
                    <i class="material-icons left">edit</i>Submit
                </a>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col s12 m9">
        <ul class="collection" data-bind="foreach: Feed">
            <li class="collection-item avatar">
                <i class="material-icons circle">person</i>
                <span class="title" data-bind="text: displayName"></span>
                <p>
                    <span data-bind="text: activity"></span><br>
                    <span data-bind="text: remarks"></span><br>
                    <span data-bind="text: date"></span>
                </p>
                <!--Put if to put the right icon depending on if it's positivie or negative-->
                <a href="#!" class="secondary-content"><i class="material-icons icon-red">error_outline</i></a>
            </li>
        </ul>
    </div>
</div>



