

<div class="row">
    <div class="onehd">
        <div class="input-field col s12">
            <select id="entry-options">
                <optgroup label="Ws">
                    <option value="1001">20 Minute Workout</option>
                    <option value="1002">20 Minute Walk</option>
                    <option value="1004">Weight Workout</option>
                    <option value="1004">Bike ride</option>
                    <option value="1005">Extranous Labor</option>
                    <option value="1006">Healthy Snack</option>
                    <option value="1007">Healthy Meal</option>
                    <option value="1008">Other (Good) - Describe in remarks</option>
                </optgroup>
                <optgroup label="Ls">
                    <option value="1">Over-ate</option>
                    <option value="2">Junk Food</option>
                    <option value="3">Fast Food</option>
                    <option value="4">Sugary Drink</option>
                    <option value="5">Empty Calory Snack</option>
                    <option value="6">Processed Food</option>
                    <option value="5">Other (Bad) - Describe in remarks</option>
                </optgroup>
            </select>
            <label>Activities</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="onehd">
        <div class="input-field col s12">
            <textarea id="entry-remarks" class="materialize-textarea"></textarea>
            <label for="textarea1">Remarks</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="onehd col s12">
        <button class="waves-effect waves-light btn teal darken-3" id="entry-submit" data-bind="click: handleLogEntrySubmit">
            <i class="material-icons left">edit</i>Submit
        </button>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <ul class="collection" data-bind="foreach: Feed" style="border: none;">
            <li class="collection-item avatar blue-grey lighten-5" style="margin: 5px; border-radius: 10px;">
                <i class="material-icons circle">person</i>
                <span class="bold" data-bind="text: displayName"></span><br />
                <span data-bind="text: date"></span>
                <p>
                    <span class="blue-grey-text lighten-2">Activity:</span> <span class="grey-text lighten-2" data-bind="text: activity"></span><br>
                    <span class="blue-grey-text lighten-2">Remarks:</span> <span class="grey-text lighten-2" data-bind="text: remarks"></span><br>
                    <span class="blue-grey-text lighten-2">Points:</span> <span class="grey-text lighten-2" data-bind="text: points"></span><br>
                    <span class="blue-grey-text lighten-2">Balance:</span> <span class="grey-text lighten-2" data-bind="text: balance"></span><br>
                    <a class="btn-flat deep-orange darken-3 white-text" data-bind="click: $parent.deleteEntry">Delete<i class="material-icons white-text right">delete</i></a>
                </p>
                <!--Put if to put the right icon depending on if it's positivie or negative-->
                <!-- ko if: points < 0-->
                <a href="#!" class="secondary-content"><i class="material-icons icon-black">thumb_down</i></a>
                <!-- /ko-->
                <!-- ko if: points > 0-->
                <a href="#!" class="secondary-content"><i class="material-icons icon-black">fitness_center</i></a>
                <!-- /ko-->
            </li>
        </ul>
    </div>
</div>



