

<header class="header">
    <nav class="col s12 m9 teal darken-4 ">
        <div class="nav-wrapper">
            <ul class="hide-on-small-only">
                <li><a href="#home" id="main"><i class="material-icons">power_settings_new</i></a></li>
            </ul>
            <ul>
                <li><a href="#friends-feed" id="friends-feed"><i class="material-icons">people</i></a></li>
            </ul>
            <ul>
                <li><a href="#assesment" id="status"><i class="material-icons">assessment</i></a></li>
            </ul>
            <ul>
                <li><a href="#news" id="news"><i class="material-icons">description</i></a></li>
            </ul>
            <ul>
                <li><a href="#log-entry" id="log-item"><i class="material-icons">edit</i></a></li>
        </div>
    </nav>
</header>

