
<div class="row">
    <div class="col s2 m2">
        <a href="#home" class="btn-floating blue-grey" id="main"><i class="material-icons icon-menu-home">power_settings_new</i></a>
    </div>
    <div class="col s2 m2">
        <a href="#friends-feed" class="btn-floating blue-grey" id="friends-feed"><i class="material-icons icon-menu-friends">people</i></a>
    </div>
    <div class="col s2 m2">
        <a href="#assesment" class="btn-floating blue-grey" id="status"><i class="material-icons icon-menu-status">assessment</i></a>
    </div>
    <div class="col s2 m2">
        <a href="#news" class="btn-floating blue-grey" id="news"><i class="material-icons icon-menu-news">description</i></a>
    </div>
    <div class="col s2 m2">
        <a href="#log-entry" class="btn-floating blue-grey" id="log-item"><i class="material-icons icon-menu-log">edit</i></a>
    </div>
</div>